@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap'); */

body {
  @apply bg-gray-50 text-gray-900;
  font-family: 'Inter', sans-serif;
  margin: 0;
}